div:first-child{
    width:200px;
    height:200px;
    background-color:pink;
    transform:translate(30px,30px);/*(x,y) translate不会影响其它元素的位置 百分比单位是相对于自身元素的 对行内标签没有效果*/
    transform:rotate(10deg);/*顺时针旋转10度 默认旋转的中心是元素的中心点*/

}

.box1{
    width:200px;
    height:200px; 
    background-color:purple;
    transition:all 3s; /*过渡写到本身上  谁做动画给谁+*/   
    transform-origin:50px 50px;
}
.box1:hover{
    transform:rotate(360deg);    
    transform:scale(2,2);/*里面是倍数 scale缩放*/
}
