h1{
    display:inline-block;
    font-size:24px;
}
.head{
 text-indent:1.3em;}
.hard{
  outline:none;
}
.pic{
    background-color:transparent;
    margin-top:35px;
    perspective:500;/*当为元素定义 perspective 属性时，其子元素会获得透视效果，而不是元素本身。*/
}
.pic img{
    animation:trans 2s;
}

@keyframes trans{
    0%{
        transform:rotateX(180deg);
    }
    
  
   100%{
       transform:rotateX(0deg);  
   }
}
article{
    margin-top:32px;
}
article p{
   animation:jump 2s;
   font-size:16px;
   line-height:34px;
   text-indent: 2em;
   font-weight:bolder;
}  
.alert{
    position:absolute;
    right:500px;
    top:20px;
    height: 30px;
    width: 260px;
    color:white!important;
    line-height:30px;
    background-color:rgba(0,0,0,0.817);
    text-align:center;
}